:host {
    width: 33%;
}

.avatar {
    position: relative;
    border: 1px solid lightblue;

    &__image {
        width: 100%;
    }

    &__selected {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 255, .3);

        &-icon {
            transform: scale(2);
            color: white;
        }
    }
}