.message-list {
    height: 74vh;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.dialog {
    width: 100%;
    height: 11vh;
    background: #ffce00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1rem;
    position: absolute;
    left: 0;
    bottom: 0;

    &__input {
        width: 85%;
        height: 2rem;
        outline: none;
        padding-left: .5rem;
        overflow: hidden;
        border-radius: .1rem;
        border: 1px solid orange;
    }

    &__send {
        width: 2rem;
        height: 2rem;
        background-color: orange;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}