<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            Welcome to chat!
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

    <ion-list #listItem class="message-list ion-padding">

        <app-message [message]="item" [users]="users" *ngFor="let item of messages"></app-message>

    </ion-list>

    <div class="dialog">
        <input type="text" class="dialog__input" (click)="scrollToBottom()">
        <div class="dialog__send" (click)="scrollToBottom()">
            <ion-icon name="send"></ion-icon>
        </div>
    </div>

</ion-content>