.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &_right {
        flex-direction: row-reverse;

        .card__content-message::after {
            left: calc(100% - 1px);
            transform: rotate(180deg);
        }
    }

    &__logo {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 75%;

        &-info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 0 .5rem;
        }

        &-message {
            width: 100%;
            box-sizing: border-box;
            padding: .7rem;
            background-color: bisque;
            font-size: .9rem;
            border-radius: 0 .4rem .4rem .4rem;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: -15px;
                top: 0;
                border: 8px solid transparent; border-right: 8px solid bisque;
            }
        }
    }
}