<div class="card" [class.card_right]="getIsRight()">
    <img class="card__logo" [src]="avatar" alt="logo">

    <div class="card__content">
        <div class="card__content-info">
            <span class="card__content-info-name">{{ name }}</span>
            <span class="card__content-info-date">{{ message.time | appTimePipe }}</span>
        </div>
        <div class="card__content-message">{{ message.text }}</div>
    </div>
</div>