<ion-header>
    <ion-toolbar color="medium">
        <ion-title>
            Регистрация
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <form novalidate class="form" [formGroup]="userForm">
        <ion-item>
            <ion-label position="floating">Email <span class="required">*</span></ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Пароль <span class="required">*</span></ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
    </form>



    <ion-button fill="outline" expand="block" сolor="medium" (click)="closeModal()">Отмена</ion-button>
    <ion-button fill="solid" expand="block" color="success">Войти</ion-button>



</ion-content>