<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      Главная страница
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button fill="solid" expand="block" сolor="danger">Регистрация</ion-button>
  <ion-button fill="solid" expand="block" color="success" (click)="presentModal()">Вход</ion-button>
</ion-content>